@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

:root {
  /* background-color: rgb(105, 163, 186); */
  font-family: 'Roboto Mono', monospace;
  background-image: url(https://media1.giphy.com/media/3og0INtldac8gncQO4/giphy.gif?cid=ecf05e47ey0wk4iw36n0nt185g5ni36cs1gp7bjzsvoorac8&rid=giphy.gif&ct=g);
  background-size: 100%;
  color: aliceblue;
 

}


#nav ul  {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style:none;
  justify-content:space-evenly;
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0.485);
  width: 100vw;
  height: 70px;
  margin: auto;

}
 #nav ul a {
  color:aliceblue;
  text-decoration:none ;
 }
#nav a {
  box-shadow: inset 0 0 0 0 #dab0cf;
  margin: 0 -.25rem; 
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
}

 #nav a:hover {
  cursor: pointer;
  height: 100px;
  box-shadow:inset 300px 0 0 0 #cd97bf;
  color: white;
 }

.mainContainer.show-nav {
  transform: rotate(-375deg);
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  overflow: hidden;
  margin: 0;

}
.mainContainer {
  display: block;
   align-items: center;
  /*justify-items: center; */
  width: 100vw;
  height: 90vh;
}
#bodyContainer {
  display: flex;
  align-items: center;
  justify-items: center;
}

#bodyContainer h1 {
display: block;
margin: auto;
position: absolute;
}

.container {
  display: flex;
  width: 50vw;
  height: 100vh;
  /* flex-direction: column; //will stack the photos on top of eachother  */
}

h1 {
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  font-size: 3em;
  font-weight: 550;
  padding: 20px;
  margin: 0 20px;
}

p {
  display: flex;
  margin: auto;
  align-items: center;
  justify-items: center;
  text-align: center;

}
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: rgb(221, 215, 195);
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  /* add shadow boxes around panels*/
}

.panel h3 {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 20;
}

.panel.active h3 {
  opacity: 1;
  transition: opactity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
